@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.shade-div {
  height: 0rem;
}
.third-about {
  margin-top: 4.43rem;
}

.chakra-container {
  height: 100vh;

  z-index: -2;
}

.flex-board {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a95210;
  border-radius: 0.7rem;
  width: 11rem;
  margin-bottom: 1.5rem;
  height: 3.5rem;
}

.box > p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 141.5%;
  letter-spacing: 0.085em;
  color: #6b6b6b;
  width: 8rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a95210;
  height: 3.5rem;
  width: 3rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.img-container > img {
  height: 2rem;
  width: 2rem;
}

.chakra {
  border: 1px solid grey;
}

.wheel {
  border: 2px solid #a95210;
  border-radius: 50%;
  /* margin-left: 50px; */
  margin: 0 2rem;
  position: absolute;
  height: 20rem;
  width: 20rem;
  animation-name: wheel;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 2;
}
.wheel1 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 2px solid #a95210;
  position: relative;
  margin-top: 50px;
}

.line {
  background-color: black;
  width: 50%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.line:nth-of-type(2) {
  transform: rotate(30deg);
}
.line:nth-of-type(3) {
  transform: rotate(60deg);
}
.line:nth-of-type(4) {
  transform: rotate(90deg);
}
.line:nth-of-type(5) {
  transform: rotate(120deg);
}
.line:nth-of-type(6) {
  transform: rotate(150deg);
}
.line:nth-of-type(7) {
  transform: rotate(180deg);
}
.line:nth-of-type(8) {
  transform: rotate(210deg);
}
.line:nth-of-type(9) {
  transform: rotate(240deg);
}
.line:nth-of-type(10) {
  transform: rotate(270deg);
}
.line:nth-of-type(11) {
  transform: rotate(300deg);
}
.line:nth-of-type(12) {
  transform: rotate(330deg);
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stable-sun {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #a95210;
  background-color: #d9d9d9;
  z-index: 2;
}

.stable-sun > img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5rem;
  transform: translate(-50%, -50%);

  width: 5rem;
  z-index: 2;
  animation-name: sun;

  animation-iteration-count: infinite;
  animation-timing-function: step-start;
}

.wheels {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.zodiac-sign {
  height: 2vw;
  width: 2vw;
  z-index: 3;
  margin: 1.2rem 1rem;
}
/* responsive */
@media (max-width: 768px) {
  .chakra-container {
    margin-top: 0;
  }
  .wheel {
    height: 15rem;
    width: 15rem;
  }
  .wheel1 {
    width: 150px;
    height: 150px;
  }
  .stable-sun {
    height: 6rem;
    width: 6rem;
  }
  .stable-sun > img {
    height: 3rem;
    width: 3rem;
  }
  .zodiac-sign {
    height: 3vw;
    width: 3vw;
  }
  .flex-board {
    flex-direction: column;
  }
  .box {
    width: 8rem;
    height: 2.5rem;
  }
  .box > p {
    font-size: 0.7rem;
    width: 6rem;
  }
  .img-container {
    height: 2.5rem;
    width: 2rem;
  }
  .img-container > img {
    height: 1.5rem;
    width: 1.5rem;
  }
}
