@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.header {
  width: auto;
  height: 36.25rem;
  background-size: cover;
  background-position: center;
  background-color: #a74800;
  background-blend-mode: darken;
  background-image: url("../images/background.png");
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: poppins;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  background-color: #fcb892;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.logo-head {
  color: #f0f0f0;
  margin-left: 13.76px;
  font-weight: 600;
  font-size: 40.0932px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
}

.about-div {
  display: flex;
}

.about {
  display: flex;
  color: #f0f0f0;
  list-style: none;
  justify-content: space-between;
  align-self: center;
  line-height: 1.68rem;
  font-size: 1.1rem;
}

.about > li {
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-family: "Poppins";
}
.home {
  color: #fd9d54;
  font-weight: 700;
}

.user-profile > img {
  height: 3rem;
  width: 3rem;
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 700;
  font-size: 58.4047px;
  line-height: 128%;
  /* identical to box height, or 75px */

  text-align: center;
  letter-spacing: 0.085em;

  color: #fdfdfd;
}

.para-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 149.69%;
  letter-spacing: 0.07em;
  color: #ffffff;
  text-align: center;
}

.main-header > button {
  border: none;
  width: 217px;
  height: 58px;
  border-radius: 43px;
  background-color: #d97122;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.02em;
}

.nav-bottom {
  display: flex;
  justify-content: space-evenly;
  color: #f0f0f0;
  margin-top: 5.7rem;
}

.details {
  display: flex;
  flex-direction: row;
  width: 178px;
  height: 39px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 19px;
}

.details > img {
  height: 37.54px;
  width: 44px;
  margin-right: 1rem;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

.circle1 {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #e07c2d;
  background-color: #e07c2d;
  margin-right: 11.5px;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #e07c2d;
  margin-right: 11.5px;
}
/* responsive */
@media (max-width: 768px) {
  .header {
    height: 100%;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-top: 1rem;
  }
  .logo-head {
    font-size: 1.5rem;
  }
  .about-div {
    display: none;
  }
  .user-profile {
    display: none;
  }
  .main-header {
    margin-top: 2rem;
  }
  .heading {
    font-size: 2rem;
  }
  .para-1 {
    font-size: 1rem;
  }
  .main-header > button {
    margin-top: 2rem;
  }
  .nav-bottom {
    display: none;
  }
}
